
# APPLICATION CREDENTIALS
PORT = ""
SECRET_KEY = ""


# SMTP MAIL CREDENTIALS
MAIL_HOST = ""
MAIL_PORT = ""
MAIL_USERNAME = ""
MAIL_PASSWORD = ""
MAIL_SECURE = "true"


# MONGO DATABASE CREDENTAILS
DEV_MONGO_URL = ""
PROD_MONGO_URL = ""







# AWS
S3_BUCKET_NAME = ""
AWS_REGION = ""

AWS_ACCESS_KEY_ID = ""
AWS_SECRET_ACCESS_KEY = ""

CLOUDFRONT_DISTRIBUTION_ID = ""

CLOUDFRONT_KEY_PAIR_ID = ""

CLOUDFRONT_PRIVATE_KEY = ""

CLOUDFRONT_DISTRIBUTION_DOMAIN_NAME = ""